.dropdown {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  user-select: none;
  transition: all 1s;
}

.dropdown__button {
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: #444e5a;
  }

  color: #fafafa;
  background-color: #697b91;
  transition: 0.5s;
}

.dropdown__ul {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 1s;
  border-radius: 10px;

  &-item {
    background-color: #ced4dc;
    list-style-type: none;
    padding: 10px 20px;
    transition: all 0.2s;
    border-radius: 10px;
    margin-top: 5px;
  }

  &-item:hover {
    transition: all 0.2s;
    background-color: #899eb6;
  }
}