.tests-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tests-page__top-panel {
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  .tests-page__top-container {
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;

    .tests-page__top-text-container {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 96px;
    }

    .top-panel__add-button {
      height: 35px;
      width: 105px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      background-color: #3b5472;
      transition: 1s;

      &:hover {
        cursor: pointer;
        transition: 0.5s;
        background-color: #5c6c80;
      }
    }
  }
}

.test-page__ul-wrapper {
  height: 100%;
  width: 80%;
}

.test-page__ul {
  padding: 0;
  margin: 0;
}

.test-page__ul-item-container {
  height: 100%;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ul-item__left-block-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.test-page__ul-item {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  background-color: aliceblue;
  border-radius: 10px;
  list-style-type: none;
  margin-top: 10px;

  &-name {
    max-width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:first-child {
    margin-top: 2px;
  }

  .ul-item__button-panel-wrapper {
    display: flex;
    justify-content: space-between;
    width: 200px;

    .ul-item__button {
      height: 35px;
      width: 90px;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }

      &--hide {
        color: #fafafa;
        background-color: #697b91;
        transition: 0.5s;

        &:hover {
          background-color: #8995a3;
        }
      }

      &--delete {
        color: #fafafa;
        background-color: #b83737;
        transition: 0.5s;

        &:hover {
          cursor: pointer;
          color: #ffffff;
          background-color: #c16161;
          transition: 0.5s;
        }
      }
    }
  }

  .ul-item__visibility-text {
    &--hidden {
      color: red;
    }
  }
}

@media only screen and (max-width: 800px) {
  .tests-page__top-text-container {
    width: 40%;
  }
}