.main-page-wrapper {
  height: 100%;
  width: 100%;
}

.main-page__header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page__header-container {
  height: 100%;
  width: 80%;
}

.header__navbar-wrapper {
  height: 100%;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__item-wrapper {
    height: 100%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__item {
    font-weight: 500;

    &--logout-button {
      height: 35px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      color: #3b5472;
      background-color: #97b1d1;
      transition: 1s;

      &:hover {
        cursor: pointer;
        transition: 0.5s;
        color: #ffffff;
        background-color: #3b5472;
      }
    }

    &--navigation {
      color: black;
      text-decoration: none;

      transition: 0.5s;

      &-selected {
        height: 35px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: #fafafa;
        background-color: #697b91;

      }
    }

  }
}

.main-page__content {}