.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5;

  .modal__button {
    height: 35px;
    border: none;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #3b5472;
    background-color: #97b1d1;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transition: 0.5s;
      color: #ffffff;
      background-color: #57687c;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
      color: #7990ac;
      background-color: #d9e1ea;
    }
  }

}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 40vw;
  transform: scale(0.5);
  transition: 0.4s all;

  .modal__input {
    height: 40px;
    width: 95%;
    font-weight: 500;
    background-color: #B0C3DA;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 15px;
  }

  .close-button {
    right: 8px;
    top: 8px;
    position: absolute;
    width: 14px;
    height: 14px;
    background: url('https://i.stack.imgur.com/cLnMQ.png') no-repeat center center / contain;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal__content.active {
  transform: scale(1);
}

.modal-item {
  margin-top: 10px;
}

.form-group {
  display: flex;

  .modal__input {
    height: 40px;
    width: 95%;
    font-weight: 500;
    background-color: #B0C3DA;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 15px;
  }
}

.modal__answers-block {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.answers-block__added-questions-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-block__added-questions-number {
  &--black {
    font-weight: 600;
    color: rgba(0, 0, 0)
  }

  &--red {
    color: rgb(255, 0, 0);
  }

}