.login-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__form {
  height: 250px;
  width: 300px;
  background-color: #97b1d1;
  border-radius: 15px;

  .form__form-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .form-group {
      display: flex;
      justify-content: center;

      .form-group__input {
        height: 40px;
        width: 95%;
        font-weight: 500;
        background-color: #B0C3DA;
        border: none;
        outline: none;
        border-radius: 10px;
        padding-left: 15px;
        
        &--password{
          -webkit-text-security: disc;
        }
      }
    }

    .submit-button {
      cursor: pointer;
      color: #97b1d1;
      background-color: #3b5472;
      height: 40px;
      width: 150px;
      border-radius: 10px;
      font-weight: 500;
      transition: 1s;
      border: none;
      outline: none;
      &:hover {
        transition: 0.5s;
        color: #ffffff;
      }
    }
  }
}

