.users-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-page__top-panel {
  height: 60px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  .users-page__top-container {
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;

    .top-panel__text--action{
      width: 9%;
    }
  }
}

.user-page__ul-wrapper {
  height: 100%;
  width: 80%;
}

.user-page__ul {
  padding: 0;
  margin: 0;
}

.user-page__ul-item {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  background-color: aliceblue;
  border-radius: 10px;
  list-style-type: none;
  margin-top: 10px;

  transition: all 1s;

  &:first-child {
    margin-top: 2px;
  }
}

.test-page__ul-item-container {
  height: 100%;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
}