@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #B0C3DA;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

